body {
    background-color: rgb(215, 216, 255);
}

  h1 {
      text-align: center;
  }

  h4{
      text-align: center;
  }

.dropdown-menu {
    text-align: center;
}

.modal-content{
    align-content: center;
    text-align: center;
}

.card{
    margin-left: 19%
}

.modalHeader{
    font-size: 30;
    text-align: center;
}