body {
    background-color: rgb(255, 212, 163);
}
.top-bar {
    background-color: bisque;
}

  h1 {
      text-align: center;
  }

  h4{
      text-align: center;
  }

.dropdown-menu {
    text-align: center;
}

.modal-content{
    align-content: center;
    text-align: center;
}

.card{
    margin-left: 19%
}

.modalHeader{
    font-size: 30;
    text-align: center;
}

.navbar {
    position: fixed;
    background-color: rgb(209, 157, 60);
    border-bottom-right-radius:  25px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.round-corner {
    border-radius: 5px;
}